argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.9.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==44.0.0
Django==4.2.24
django-filter==25.1
djangorestframework==3.16.1
fernet==1.0.1
idna==3.10
mysql-connector-python==9.1.0
mysqlclient==2.2.7
numpy==2.1.3
pillow==11.0.0
psycopg2-binary==2.9.11
pyaes==1.6.1
pycparser==2.22
pygame==2.6.1
PyMySQL==1.1.2
requests==2.32.3
sqlparse==0.5.3
tabulate==0.9.0
tzdata==2025.2
urllib3==2.2.3
wheel==0.45.1
